<div class="align">
  <h2>{{title}}</h2>
</div>

<!-- <h2>{{yellowflower.color}}</h2>
<h2>{{redflower.color}}</h2>
<h2>{{greenflower.color}}</h2> -->
<div class="flowers">
  <!-- <div>
    <h3>Yellow coloured flower</h3>
    <app-diffflowers (click)="onFlowerclick()" [f]="yellowflower"></app-diffflowers>
  </div> -->
  <div>
    <h3>Red coloured flower</h3>
    <app-diffflowers (flowerselected)="onFlowerselect($event)" [f]="redflower"></app-diffflowers>
  </div>
  <div>
    <h3>Green coloured flower</h3>
    <app-diffflowers [f]="greenflower"></app-diffflowers>
  </div>
</div>