.fclass{
    text-align: center;
    border: 2px solid black;
    height: 590px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkred;
    font-size: 15px;
}